<div id="<%= dom_id delivery %>" class="delivery col">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= delivery.beneficiary.names %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Kg: <%= delivery.kg %></h6>
      <p class="card-text"><%= delivery.created_at %></p>
      <%= link_to t('.edit'), edit_delivery_path(delivery), class: 'card-link' %>
      <%= link_to t('.delete'), delivery_path(delivery), class: 'card-link', data: {
        turbo_method: :delete,
        turbo_confirm: t('common.confirm')
      } %>
    </div>
  </div>
</div>
