<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app_name') %> | <%= t('meta_title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/flash' %>
    <div class="d-flex align-items-start">
      <div class="nav flex-column nav-pills me-3 bg-light vh-100 p-4">
        <%= render 'shared/nav_vertical' %>
      </div>
      <div class="container-fluid p-4">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
